
@{
    ViewBag.Title = "No Permission";
}

<h2>No Permission</h2>

<div class="col-md-12">You don't have permission to browse this page. @Html.ActionLink("Try login", "Login", "Account") and reload this page.</div>
<div class="col-md-2 col-md-offset-10">
    @Html.ActionLink("Back to newsline", "Index", "Home")
</div>


