<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INewsService" />
        <binding name="BasicHttpsBinding_INewsService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WCFDataSevice/NewsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsService"
        contract="ServiceReference1.INewsService" name="BasicHttpBinding_INewsService" />
      <endpoint address="https://szemba.kha.dataart.net/WCFDataSevice/NewsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_INewsService"
        contract="ServiceReference1.INewsService" name="BasicHttpsBinding_INewsService" />
    </client>
  </system.serviceModel>
</configuration>